/* POLICES */
@font-face {
	font-family: 'yeseva-one';
	src: url('./fonts/yesevaOne-regular.ttf')
}
@font-face {
	font-family: 'montserrat-regular';
	src: url('./fonts/montserrat_regular.ttf')
}
@font-face {
	font-family: 'montserrat-bold';
	src: url('./fonts/montserrat_bold.ttf')

}
@font-face {
    font-family: 'montserrat-medium-italic';
    src: url('./fonts/montserrat_medium_italic.ttf')
}
@font-face {
    font-family: 'montserrat-semibold-italic';
    src: url('./fonts/montserrat_semibold_italic.ttf')
}
/* POLICES */

/* VARIABLES */
:root {
    --main-green: #2C6E49;
    --pink-primary: #C4B7CB;

    --green-secondary: #4C956C;
    --pink-secondary: #EEE7F2;
    
    --orange: #FFC530;

    --red-level-1: #E53E3E;
    --red-level-2: #C51010;

    --gray-level-1: #1A202C;
    --grey-level-2: #2D3748;
    --grey-level-3: #4A5568;
    --grey-level-4: #718096;
    --grey-level-5: #A0AEC0;
    --grey-level-6: #CBD5E0;
    --grey-level-7: #E2E8F0;
    --grey-level-8: #EDF2F7;
    --grey-level-9: #F7FAFC;
    
    --h1-size: 2em;
    --h2-size: 1.5em;
    --h3-size: 1.2em;
    --p-size: 1em;

    --radius-size: 6px;
    --icon-default-size: 20px;
    --icon-color: invert(10%) sepia(21%) saturate(959%) hue-rotate(182deg) brightness(96%) contrast(93%);
}
/* VARIABLES */

*, *::before, *::after {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

html, body {
    scroll-behavior: smooth;
}

img{
    border-radius: var(--radius-size);
}

/* TITRES */
h1, h2, h3, h4, h5 {
    font-family: "yeseva-one", sans-serif;
    color: var(--gray-level-1);
    font-weight: normal;
}
h1 {
    font-size: var(--h1-size);
}
h2 {
    font-size: var(--h2-size);
}
h3 {
    font-size: var(--h3-size);
    font-family: "montserrat-regular", sans-serif;
}
/* TITRES */

/* PARAGRAPHE */
p, body>footer {
    font-family: "montserrat-regular", sans-serif;
    color: var(--gray-level-1);
    font-size: var(--p-size);
}
/* PARAGRAPHE */

/* ICONS */
span.icon {
    filter: var(--icon-color);

    background-size: cover;
    background-position: center;

    display: inline-block;
    width: var(--icon-default-size);
    height: var(--icon-default-size);
}

.icon.arrow-right {
    background-image: url(./ressources/icons/arrow-right.svg);
    width: 11px;
    height: 20px;
}
.icon.arrow-left {
    background-image: url(./ressources/icons/arrow-left.svg);
    width: 13px;
    height: 21px;
}
.icon.arrow-down {
    background-image: url(./ressources/icons/arrow-down.svg);
    width: 17px;
    height: 10px;
}
.icon.backpack {
    background-image: url(./ressources/icons/backpack.svg);
}
.icon.bed {
    background-image: url(./ressources/icons/bed.svg);
}
.icon.bike {
    background-image: url(./ressources/icons/bike.svg);
}
.icon.burger-menu {
    background-image: url(./ressources/icons/burger_menu.svg);
}
.icon.castle {
    background-image: url(./ressources/icons/castle.svg);
}
.icon.check-mark {
    background-image: url(./ressources/icons/check-mark.svg);
}
.icon.cross {
    background-image: url(./ressources/icons/cross.svg);
}
.icon.dive {
    background-image: url(./ressources/icons/dive.svg);
}
.icon.eat {
    background-image: url(./ressources/icons/eat.svg);
}
.icon.filter {
    background-image: url(./ressources/icons/filter.svg);
}
.icon.fire {
    background-image: url(./ressources/icons/fire.svg);
}
.icon.four {
    background-image: url(./ressources/icons/four.svg);
}
.icon.help {
    background-image: url(./ressources/icons/help.svg);
}
.icon.localization {
    background-image: url(./ressources/icons/localization.svg);
    width: 17px;
}
.icon.one {
    background-image: url(./ressources/icons/one.svg);
}
.icon.pool {
    background-image: url(./ressources/icons/pool.svg);
}
.icon.sandals {
    background-image: url(./ressources/icons/sandals.svg);
}
.icon.three {
    background-image: url(./ressources/icons/three.svg);
}
.icon.two {
    background-image: url(./ressources/icons/two.svg);
}
.icon.walk {
    background-image: url(./ressources/icons/walk.svg);
    width: 11px;
    height: 20px;
}
.icon.water {
    background-image: url(./ressources/icons/water.svg);
}
.icon.star-filed {
    background-image: url(./ressources/icons/star-filed.svg);
}
.icon.twitter {
    background-image: url(./ressources/icons/twitter.svg);
    filter: invert(1);
    width: 24px;
}

/* ICONS */

/* BLOCKQUOTE */
blockquote {
    font-family: "montserrat-medium-italic", sans-serif;
}
blockquote::before {
    content: '\201C'; /* caractère " ouvrant */
}
blockquote::after {
    content: '\201D'; /* caractère " fermant */
}
/* BLOCKQUOTE */

/* HEADER */
header {
    font-family: "montserrat-regular", sans-serif;

    margin: 1em 3em;
    text-align: end;
    position: relative;
}
header>.burger-menu {
    width: 23px;
    height: 19px;

    position: absolute;
    top: 30%;
    right: 1em;

    display: none;
    z-index: 999;
}
header>.burger-menu:is(:hover, .active) {
    filter: invert(37%) sepia(36%) saturate(616%) hue-rotate(94deg) brightness(89%) contrast(92%);
}
header>.responsive__title {
    display: none;
    float: left;
    margin: 0.7em 5em;
}
header>img {
    position: absolute;
    left: 0;
    top: 12px;
}
header span {
    display: flex;
    align-items: center;

    cursor: pointer;
}
header a, header li {
    color: var(--gray-level-1);
    text-decoration: none;
    transition: color .3s, background-color .3s ease;
}
header a:hover {
    color: var(--grey-level-2);
}

/* NAVIGATION */
header>nav {
    transition: all 1s ease;
}
header>nav>ul {
    list-style: none;
}
header>nav>ul>li {
    position: relative;
    display: inline-block;
    margin: 1em 0;
}
header>nav>ul>li.contact {
    margin-left: 1em;
}
header>nav>ul>li:not(.contact),
header>nav>ul>li.contact>a {
    padding: .8em 1.5em;
}

header>nav>ul>li>a.active {
    color: var(--main-green);
    font-family: "montserrat-bold", sans-serif;
}

header>nav>ul>li.contact>a:hover {
    background-color: white;
    border: 1px solid var(--main-green);
    color: var(--main-green);
}
header>nav>ul>li.contact>a {
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    border-radius: var(--radius-size);
    color: white;
}
/* NAVIGATION */

/* MENUS DEROULANT */
header>nav>ul>li ul {
    display: none;
    z-index: 1;
    position: absolute;
    top: 2.7em;

    list-style: none;
    width: 15em;

    box-shadow: 0 3px 10px 2px #6a6a6a36;
    border-radius: var(--radius-size);
    background-color: white;
}
header>nav>ul li:hover>ul {
    display: block;
    text-align: start;
}

header>nav>ul li>span>.icon {
    margin-left: .5em;
    margin-top: 3px;

    transition: all .3s ease;
}

header>nav>ul li:hover>span>.icon {
    transform: rotate(180deg);
}

header>nav>ul li>ul>li {
    display: block;
    cursor: pointer;
}
header>nav>ul li>ul>li>a,
header>nav>ul li>ul>li>span {
    padding: 1em 1em;
    display: block;
}
header>nav>ul li>ul>li>span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header>nav>ul li>ul>li:hover {
    background-color: var(--grey-level-7);
}
header>nav>ul li>ul>li:first-child {
    border-radius: var(--radius-size) var(--radius-size) 0 0;
}
header>nav>ul li>ul>li:last-child {
    border-radius: 0 0 var(--radius-size) var(--radius-size);
}
header>nav>ul>li>ul>li>ul {
    left: 15em;
    top: 9em;
}
/* MENUS DEROULANT */

/* RESPONSIVE */
@media screen and (max-width: 1417px) {
    header>nav {
		position: fixed;
        top: 0;
		left: -100em;

        z-index: 10;
        text-align: center;

        background-color: white;
        height: 100em;
        width: 100%;
    }
	header>nav>ul {
        margin-top: 6em;
    }
	header>nav>ul>li {
        display: block;
    }
	header {
        height: 3em;
    }
	header span {
        justify-content: center;
    }
	header>img {
        top: -4px;
    }
	header>.burger-menu {
        display: block;
    }
    header>.responsive__title {
        display: block;
    }
	header>nav>ul li>ul {
        position: unset;
        box-shadow: unset;
        width: 100%;
        text-align: center !important;
    }
	header>nav>ul li>ul>li {
        margin-top: .5em;
    }
	header>nav>ul li>ul>li:hover {
        background-color: transparent;
    }
	header>nav>ul li>ul>li:hover>a {
        color: var(--grey-level-8);
    }
	header>nav>ul>li.contact {
        margin-left: unset;
        margin-top: 2em;
    }
	header>nav>ul li>ul>li>span {
        justify-content: center;
    }
}
/* RESPONSIVE */
/* HEADER */

/* FOOTER */
body>footer {
    background-color: var(--gray-level-1);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 3em;
}
body>footer>address{
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-right: 1em;
}
body>footer>address>a {
    margin-left: 1em;
}
/* FOOTER */

/* TOOLS */
/* IMAGE SELECTOR */
.image__selector {
    width: fit-content;
}
.image__selector>img,
.image__selector>div>img {
    border-radius: var(--radius-size);
}
.image__selector>img {
    width: 45em;
    height: 30em;
    object-fit: cover;
}
.image__selector>div {
	display: flex;
    flex-direction: row-reverse;
}
.image__selector>div>img {
    width: 100px;
    height: 74px;
    object-fit: cover;

    margin: 1px 4px;

    cursor: pointer;
    transition: all .3s ease;
}
.image__selector>div>img.active,
.image__selector>div>img:hover {
    opacity: 70%;
}
/* IMAGE SELECTOR */
/* TOOLS */

/* ACCUEIL */
/* HERO HEADER */
.hero__header {
    background-image: url(./ressources/images/home_landscape.jpg);
    background-size: cover;
    background-position: center;

    border-radius: 26px;

    height: 25em;
    margin: 1em 3em;
    position: relative;
}
.hero__header>blockquote {
    color: white;
    font-size: 35px;

    position: absolute;
    top: 24%;
    left: 8%;
    font-family: 'montserrat-semibold-italic', sans-serif;
}
/* HERO HEADER */

/* TITLE */
#home>h1, 
#home>h4 {
    text-align: center;
}
#home>h1 {
    margin-top: 4em;
}
#home>h4 {
    font-family: "montserrat-regular", sans-serif;
    font-size: var(--p-size);
    font-weight: normal;

    color: var(--grey-level-3);
    margin-bottom: 4em;
}
/* TITLE */

/* LAST MINUTE CAROUSEL */
#last__minute__carousel {
    display: flex;
    overflow: hidden;
    width: 63em;
    margin: auto;   
}
#last__minute__carousel>article {
    margin: 1em;
}
#last__minute__carousel>article>a {
    text-decoration: none;
}
#last__minute__carousel>article>a:hover>img {
    box-shadow: 0 0 9px #3a3a3abd; 
}
#last__minute__carousel>article>a>img {
    width: 30em;
    border-radius: var(--radius-size);
    transition: all .3s ease;
}
#last__minute__carousel>article>a>footer {
    position: relative;
}
#last__minute__carousel>article>a>footer>* {
    font-family: "montserrat-regular", sans-serif;
    font-size: var(--p-size);
}
#last__minute__carousel>article>a>footer>h2 {
    font-size: 20px;
    padding: 1em 0;
}
#last__minute__carousel>article>a>footer>h3 {
    color: var(--grey-level-3);
}
#last__minute__carousel>article>a>footer>h3>.icon {
    margin-right: 5px;

    filter: invert(32%) sepia(16%) saturate(630%) hue-rotate(179deg) brightness(95%) contrast(91%);
}
#last__minute__carousel>article>a>footer>h4,
#last__minute__carousel>article>a>footer>h5 {
    text-transform: uppercase;
}
#last__minute__carousel>article>a>footer>h4 {
    padding: 1em 2em;
    color: white;
    
    text-align: center;
    font-size: 14px;

    position: absolute;
    top: -2em;
    right: 13px;

    border-radius: 100px;
    box-shadow: 0 0 7px 1px var(--red-level-1);
    background: linear-gradient(90deg, var(--red-level-1) 0%, var(--red-level-2) 100%);
}
#last__minute__carousel>article>a>footer>h5 {
    text-decoration: line-through;
    float: right;

    margin-top: -19px;
    margin-right: 31px;
}

#last__minute__carousel__controller {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2em 0;
}
#last__minute__carousel__controller>* {
    margin: 0 1em;
}
#last__minute__carousel__controller>button {
    width: 38px;
    height: 37px;

    background-color: var(--gray-level-1);
    border-radius: 100px;
    border: unset;
    cursor: pointer;
}
#last__minute__carousel__controller>button>.icon {
    filter: invert(1);
    margin-top: 3px;
}
#last__minute__carousel__controller>button>.icon.arrow-left {
    margin-left: -1px;
}
#last__minute__carousel__controller>button>.icon.arrow-right {
    margin-left: 2px;
}
#last__minute__carousel__controller>.progress__bar {
    width: 50%;
    height: .5em;

    position: relative;
    border-radius: 100px;
    background-color: var(--grey-level-8);
}
#last__minute__carousel__controller>.progress__bar>.progression {
    background-color: var(--gray-level-1);
    width: 33%;
    height: 100%;

    border-radius: 100px;
    transition: width .3s ease;
}

@media screen and (max-width: 1025px) {
    #last__minute__carousel {
        width: 31em;
    }
}

@media screen and (max-width: 525px) {
    #last__minute__carousel {
        width: 24em;
    }
    #last__minute__carousel>article>a>img {
        width: 23em;
    }
}
/* LAST MINUTE CAROUSEL */

/* CAROUSEL */
.carousel {
    position: relative;
}
.carousel>button {
    position: absolute;
    top: 37%;

    border: unset;
    background: transparent;
    cursor: pointer;
}
.carousel>button.left {
    left: 5%;
}
.carousel>button.right {
    right: 6%;
}

.carousel>section {
    display: flex;
    overflow: hidden;

    margin: 2em auto;
    width: 64em;
}
.carousel>section>article {
    margin: 1em 1em;
}
.carousel>section>article>a {
    text-decoration: none;
}
.carousel>section>article>a:hover>img {
    box-shadow: 0 0 9px #3a3a3abd; 
}
.carousel>section>article>a>img {
    width: 30em;
    border-radius: var(--radius-size);
    transition: all .3s ease;
}
.carousel>section>article>a>footer {
    position: relative;
}
.carousel>section>article>a>footer>* {
    font-family: "montserrat-regular", sans-serif;
    font-size: var(--p-size);
}
.carousel>section>article>a>footer>h2 {
    font-size: 20px;
    padding: 1em 0;
}
.carousel>section>article>a>footer>h3 {
    color: var(--grey-level-3);
}
.carousel>section>article>a>footer>h3>.icon {
    margin-right: 5px;

    filter: invert(32%) sepia(16%) saturate(630%) hue-rotate(179deg) brightness(95%) contrast(91%);
}
.carousel>section>article>a>footer>h4 {
    padding: 1em 2em;
    
    text-align: center;
    font-size: 14px;

    position: absolute;
    top: -2em;
    right: 13px;

    font-family: "yeseva-one", sans-serif;
    border-radius: 100px;
    background: var(--pink-primary);
}

@media screen and (max-width: 1163px) {
    .carousel>section {
        width: 31em;
    }
}

@media screen and (max-width: 589px) {
    .carousel>section {
        width: 24em;
    }
    .carousel>section>article>a>img {
        width: 23em;
    }
    .carousel>button.right {
        right: 5px;
    }
    .carousel>button.left {
        left: 5px;
    }
}
/* CAROUSEL */

/* FEEDBACKS */
.feedbacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 3em 2em;
}
.feedbacks>article {
    padding: 2em 2em;
    margin: 1em 1em;
    flex-basis: 23em;
    
    position: relative;

    background-color: var(--grey-level-8);
    border-radius: 11px;

    box-shadow: 0 4px 14px #a9a9a921;
}
.feedbacks>article>.rate {
    background-color: var(--orange);
    padding: 9px 17px;
    border-radius: 100px;

    font-family: "montserrat-bold", sans-serif;
    font-size: var(--h3-size);
    color: var(--gray-level-1);

    position: absolute;
    right: 10px;
    top: 13px;
}
.feedbacks>article>.rate>.icon.star-filed {
    position: relative;
    top: 2px;
}
.feedbacks>article>blockquote {
    color: var(--gray-level-1);
    font-size: var(--h3-size);

    margin: 3.4em 0 3.3em 1em;
}
.feedbacks>article>footer {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 1em;
}
.feedbacks>article>footer>img {
    width: 60px;
    border-radius: 100%;
}
.feedbacks>article>footer>span {
    margin-left: 1em;

    font-family: "montserrat-regular", sans-serif;
    color: var(--gray-level-1);
}
/* FEEDBACKS */

/* RESPONSIVE */
@media screen and (max-width: 1312px) {
    .hero__header>blockquote {
        top: 16%;
        left: 4%;
    }
}
@media screen and (max-width: 776px) {
    .hero__header>blockquote {
        font-size: 1.6em;
    }
}
@media screen and (max-width: 582px) {
    .hero__header>blockquote {
        font-size: 1.2em;
    }
}
/* RESPONSIVE */
/* ACCUEIL */

/* CATALOGUE DE SEJOURS */

/* système de filtre sur le côté gauche de la page */
main#catalogue_de_sejours {
    margin-top: 2em;
}
#catalogue_de_sejours .filtre>section>h2{
    margin: 10px 0;
}

#catalogue_de_sejours .filtre>section>ul>h4{
    border-bottom: 2px solid var(--pink-primary);
    width: 215px;
    padding-bottom: 5px;
    margin: 10px 0;
    font-family: "montserrat-regular", sans-serif;
    font-weight: normal;
    position: relative;
}

#catalogue_de_sejours .filtre>section>ul span.arrow-down {
    position: absolute;
    right: 10px;
    top: 7px;
}
#catalogue_de_sejours .filtre>section>ul span.arrow-down.active {
    transform: rotate(180deg);
}
#catalogue_de_sejours .filtre>section ul {
    list-style: none;
    display: block;
}
#catalogue_de_sejours .filtre>section>ul li{
    margin: 16px 0;
    font-family: 'montserrat-regular', sans-serif;
}
#catalogue_de_sejours .filtre>section>ul>li.camping{
    margin-left: 80px;
    border-bottom: 2px solid var(--pink-primary);
    padding-bottom: 5px;
    width: 170px;
    position: relative;
}

#catalogue_de_sejours .filtre>section>ul>ul>li{
    margin-left: 100px;
}
#catalogue_de_sejours .filtre>section>h3{
    font-family: 'montserrat-regular', sans-serif;
    color: #C4B7CB;
}

/* agencement des offres avec leur images, leur titres, leur prix et leur lieu sur le côté droit de la page  */
#catalogue_de_sejours .photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
#catalogue_de_sejours .photo>a {
    text-decoration: none;
}
#catalogue_de_sejours .photo>a>figure{
    font-family:'montserrat-bold', sans-serif;
    margin: 20px 20px;
    cursor: pointer;
}

#catalogue_de_sejours .photo>a>figure>img{
    background-size: cover;
    background-position: center;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

#catalogue_de_sejours .photo>a>figure>figcaption>*{
    font-family: 'montserrat-regular', sans-serif;
    font-weight: normal;
}

#catalogue_de_sejours .photo>a>figure>figcaption{
    position: relative;
}

#catalogue_de_sejours .photo>a>figure>figcaption>h4{
    font-family: "yeseva-one", sans-serif;
    border: 5px;
    border-style: solid;
    border-color: var(--pink-primary);
    border-radius:100px ;
    background-color: var(--pink-primary);
    width: fit-content;
    padding: 2px 20px;
    position: absolute;
    top: -30px;
    right: 20px;
    font-size: 0.7em;
}

#catalogue_de_sejours .photo>a>figure>figcaption>h2{
    font-size: 1.1em;
    margin-bottom: 3px;
    margin-top: 10px;
    
}

#catalogue_de_sejours .photo>a>figure>figcaption>h3{
    font-size: 0.9em;
}

#catalogue_de_sejours .photo>a>figure>figcaption .icon.localization {
    margin-right: 10px;
}

#catalogue_de_sejours .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#catalogue_de_sejours .icon.filter {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 6%;
    top: 26px;

    width: 30px;
    height: 30px;
}
/*pagination en bas de page*/


.pagination{                  
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 30px;
    font-family: 'montserrat-regular', sans-serif;
}

.pagination>li{
    border: 2px solid var(--pink-primary);
    border-radius: 8px;
    margin: 10px 10px;
    padding: 5px 13px;
    list-style: none;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
}

.pagination>li:is(:first-child, :last-child):hover {
    background-color: transparent;
    border: 2px solid var(--pink-primary);
}
.pagination>li:is(.active, :hover) {
    background-color: var(--pink-primary);
}

/*responsive de la page de catalogue de séjours, tout est réunie au centre */
@media screen and (max-width: 1193px) {
    #catalogue_de_sejours>.container>.filtre {
        margin-left: 11px;
    }
}
@media screen and (max-width: 1150px) {
    #catalogue_de_sejours .filtre>section>h3 {
        margin-bottom: 1em;
    }
    #catalogue_de_sejours>.container>.filtre ul {
        display: none;

        background-color: var(--grey-level-9);
        padding: 1em 2em;
        margin-right: 1em;

        border-radius: 10px;
    }
    #catalogue_de_sejours li.camping {
        margin: 0 80px;
    }
    #catalogue_de_sejours>.container {
        display: grid;
        position: relative;
    }
    #catalogue_de_sejours .icon.filter {
        display: block;
    }
    #catalogue_de_sejours .filtre>section>ul>h4,
    #catalogue_de_sejours .filtre>section>ul>li.camping {
        width: unset;
        border-bottom: 2px solid var(--gray-level-1);
    }
}
@media screen and (max-width: 875px) {
    #catalogue_de_sejours .photo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        } 
    figure{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 578px) {
    #sejour div#group img#img_carousel {
        width: 27em !important;
    }
    #sejour div#carousel_sejour {
        margin: auto !important;
    }
}

@media screen and (max-width: 445px) {
    #sejour div#group img#img_carousel {
        width: 20em !important;
        height: 15em !important;
    }
}
/* CATALOGUE DE SEJOURS */

/* PAGE D'UN SEJOUR */
#sejour img{
    border-radius: var(--radius-size);
}
#sejour img.activite{
    width: 15em;
    height: 10em;
}
#sejour span.icon.dive.enabled{
    filter: invert(35%) sepia(11%) saturate(1857%) hue-rotate(94deg) brightness(99%) contrast(92%);
}
#sejour span.icon.dive{
    width: 22px;
    height: 20px;
}
#sejour span.icon.fire{
    height: 20px;
    width: 16px;
    filter: invert(33%) sepia(22%) saturate(5151%) hue-rotate(338deg) brightness(98%) contrast(87%);
}
#sejour span.icon.bike{
    width: 25px;
}
#sejour span.icon.check-mark{
    filter: invert(35%) sepia(11%) saturate(1857%) hue-rotate(94deg) brightness(99%) contrast(92%);
}
#sejour span.icon.help{
    filter: invert(35%) sepia(11%) saturate(1857%) hue-rotate(94deg) brightness(99%) contrast(92%);
}
#sejour span.icon.cross{
    filter: invert(33%) sepia(22%) saturate(5151%) hue-rotate(338deg) brightness(98%) contrast(87%);
}
#sejour span.icon.dive.disabled{
    filter: invert(89%) sepia(17%) saturate(148%) hue-rotate(171deg) brightness(96%) contrast(87%);
}
#sejour span.icon.fire.disabled{
    filter: invert(89%) sepia(17%) saturate(148%) hue-rotate(171deg) brightness(96%) contrast(87%);
}
/* BLOC CAROUSEL + BLOC PRINCIPAL INFORMATIONS */
#sejour div#group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#sejour section#leftPart{
    width: 645px;
    margin: 2em;
}

#sejour div#carousel_sejour{
    margin: 2em;
}

#sejour section#leftPart h2{
    margin: 10px 0px 10px 0px;
}

#sejour section#leftPart p#description{
    margin-top: 20px;
}

#sejour section#leftPart div#caseVerte{
    display: flex;
    flex-wrap: wrap;
}
#sejour section#leftPart div#caseVerte span.icon{
    height: 18px;
    width: 18px;
    margin: 4px 0px 0px 5px;
    position: relative;
}
#sejour section#leftPart div.bordVert{
    border: 3px solid var(--main-green);
    width: 185px;
    border-radius: var(--radius-size);
    margin: 20px 20px 20px 0px;
}
#sejour section#leftPart div.bordVert p{
    display: inline-block;
    position: relative;
    top: -3px;
    color: var(--main-green);
}

#sejour section#leftPart div#caseGrise{
    display: flex;
    flex-wrap: wrap;
}
#sejour section#leftPart div.bordGris{
    border: 1px solid var(--gray-level-1);
    width: 185px;
    border-radius: var(--radius-size);
    margin: 0px 20px 20px 0px;
    padding: 10px 10px 5px 10px;
}

#sejour section#leftPart div.bordGris p{
    margin-bottom: 10px;
    text-align: left;
}
#sejour section#leftPart div.dive{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#sejour section#leftPart div.dive span.icon{
    margin: 0px 10px 0px 10px;
}
#sejour section#leftPart div.fire{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
#sejour section#leftPart div.fire span.icon{
    margin: 0px 5px 5px 10px;
}

#sejour section#leftPart ul.PlusDuSejour{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 645px;
}

#sejour section#leftPart ul.PlusDuSejour p{
    width: 250px;
}

#sejour section#leftPart ul.PlusDuSejour span.icon.water{
    height: 25px;
}

#sejour section#leftPart ul.PlusDuSejour span.icon.sandals{
    width: 26px;
}
#sejour section#leftPart li.PlusSejour{
    background-color: var(--grey-level-7);
    border-radius: var(--radius-size);
    width: 301px;
    height: 56px;
    margin: 10px 20px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* BLOC CAROUSEL + BLOC PRINCIPAL INFORMATIONS */

/* BLOC PROGRAMME DETAILLÉ */
#sejour section#prog_detail{
    text-align: center;
    margin: 75px 0px 130px 0px;
}
#sejour section#prog_detail h2{
    margin-bottom: 40px;
}
#sejour section#prog_detail ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#sejour section#prog_detail li{
    display: flex;
    list-style-type: none;
    text-align: left;
    align-items: center;
    width: 650px;
    margin-bottom: 30px;
}
#sejour section#prog_detail span{
    margin-right: 20px;
    padding: 20px;
    height: 40px;
    width: 40px;
}
/* BLOC PROGRAMME DETAILLÉ */

/* BLOC INCLU EXCLU*/

#sejour div#Inclu_Exclu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid var(--gray-level-1);
    border-radius: var(--radius-size);
    width: 890px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-bottom: 20px;
}
#sejour div#Inclu_Exclu h2{
    margin: 32px 0px 32px 0px;
    text-align: center;
}
#sejour div#Inclu_Exclu h3{
    margin-bottom: 10px;
    margin-top: 30px;
}
#sejour div#Inclu_Exclu li{
    background-color: var(--grey-level-8);
    border-radius: var(--radius-size);
    width: 306px;
    height: 40px;
    margin: 0px 0px 12px 0px;
    list-style-type: none;
}
#sejour div#Inclu_Exclu li.grandLi{
    background-color: var(--grey-level-8);
    border-radius: var(--radius-size);
    width: 306px;
    height: 60px;
    margin: 0px 0px 12px 0px;
}
#sejour div#Inclu_Exclu li p{
    margin: 10px 0px 0px 10px;
    display: inline-block;
    position: relative;
}
#sejour div#Inclu_Exclu li.grandLi p{
    width: 240px;
}
#sejour div#Inclu_Exclu li.grandLi span{
    margin-top: 20px;
}
#sejour div#Inclu_Exclu li span{
    margin: 10px 15px 0px 0px;
    position: relative;
    float: right;
}
@media screen and (max-width:1492px) {

    #sejour section#leftPart{
        width: 650px;
        margin-right: 20px;
    }

    #sejour div#group img#img_carousel{
        width: 680px;
        height: 450px;
    }
    #sejour div#carousel_sejour{
        margin-left: 20px;
    }
}
@media screen and (max-width:1433px) {

    #sejour section#leftPart p#description{
        text-align: justify;
        display: flex;
    }
    #sejour section#group {
        justify-content: space-around;
    }
    #sejour section#leftPart{
        margin-right: 2em;
    }
}

@media screen and (max-width:930px) {
    #sejour div#Inclu_Exclu{
        display: grid;
        width: 500px;
        display: flex;
        flex-wrap: wrap-reverse;
    }
}
@media screen and (max-width:785px) {
    #sejour .fleche {
        width: 250px;
    }
    #sejour div#group img#img_carousel{
        width: 35em;
        height: 20em;
    }
}
@media screen and (max-width:730px) {
    #sejour section#tempsDeChoisir div.date button{
        width: 60px;
        height: 60px;
    }
    #sejour section#tempsDeChoisir div.dateFleche{
        height: 60px !important;
        font-size: 0.8em;
    }
    #sejour section#tempsDeChoisir div.dateFleche span{
        display: inline-block;
        margin: 22px 10px 25px 10px !important;
    }
    #sejour section#tempsDeChoisir div.dateFleche div{
        display: inline-block;
        margin: 30px 0px 20px 0px !important;
    }
    #sejour .fleche {
        width: 200px;
    }
    #sejour section#leftPart p#description{
        height: auto;
        width: auto;
    }
}

@media screen and (max-width:660px){

    #sejour section#leftPart {
        width: 600px;
    }

    #sejour section#prog_detail ul li span#number{
        display: none;
    }
    #sejour section#prog_detail ul li p{
        margin: 0 10px;
    }
    #sejour section#prog_detail span{
        display: none;
    }

    #sejour section#leftPart ul.PlusDuSejour{
        display: grid;
        justify-content: center;
        width: unset;
    }
    #sejour section#leftPart h2#plus_sejour{
        text-align: center;
    }

    #sejour .fleche {
        width: 100px;
    }
    #sejour div#Inclu_Exclu{
        width: 350px;
    }
}
@media screen and (max-width:546px) {
    #sejour section#tempsDeChoisir div.dateFleche span{
        margin: 22px 10px 25px 10px !important;
        width: 100px !important;
    }
    #sejour section#tempsDeChoisir div.dateFleche {
        width: 340px !important;
    }
    #sejour section#prog_detail{
        width: 400px;
    }
    #sejour .fleche {
        width: 75px;
    }
    
}
@media screen and (max-width:440px) {
    #sejour .fleche {
        width: 50px;
    }
    #sejour section#tempsDeChoisir div.dateFleche {
        width: 290px !important;
    }
}

@media screen and (max-width:400px) {

    #sejour div#Inclu_Exclu{
        width:350px;
    }
    #sejour section#prog_detail{
        width: 350px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 375px) {
    
    #sejour div#Inclu_Exclu{
        width:310px;
    }

    #sejour div#Inclu_Exclu li{
        width: 274px;
    }


    #sejour div#Inclu_Exclu li.grandLi {
        height: 80px;
        width: 274px;
    }

    #sejour div#Inclu_Exclu li.grandLi p {
        margin-top: revert;
        width: 210px;
    }

    #sejour div#Inclu_Exclu li.grandLi span {
        margin-top: 30px;
    }

    #sejour section#tempsDeChoisir {
        margin-left: 10px;
    }

    #sejour section#tempsDeChoisir div.dateFleche span {
        font-size: 0.8em;
        margin: 24px -4px 24px -8px !important;
    }

    #sejour section#tempsDeChoisir div.dateFleche {
        width: 240px !important;
    }

    #sejour section#prog_detail {
        width: 274px;
    }
}

/* BLOC INCLU EXCLU*/

/* BLOC ACTIVITÉ SECONDAIRE */

#sejour section.ActSec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em 0;
    
}
#sejour h2#ActSec{
    text-align: center;
    margin-bottom: 50px;
}
#sejour section.ActSec figure{
    
    box-shadow: 0px 1px 5px #1f1d1d63;
    padding: 1em 1em;
    border-radius: var(--radius-size);  
    text-align: center;
    margin: 50px;
}
#sejour section.ActSec figure figcaption{
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat-regular";
}
#sejour section.ActSec figure figcaption span{
    margin-right: 10px;
}
/* BLOC ACTIVITÉ SECONDAIRE */

/* BLOC TEMPS DE CHOISIR */
#sejour section#tempsDeChoisir{
    display: grid;
    justify-content: center;
    margin: 1em;
}
#sejour div.date{
    display: flex;
    width: auto;
}

#sejour section#tempsDeChoisir p{
    margin: 10px 0px 20px 0px;
}

#sejour section#tempsDeChoisir div.dateFleche{
    background-color: var(--grey-level-8);
    height: 80px;
    border-radius: var(--radius-size);
    margin: 0px 5px 20px 0px;
    text-align: center;
}
#sejour section#tempsDeChoisir div.dateFleche span{
    display: inline-block;
    margin: 30px 10px 20px 10px;
    font-family: "montserrat-regular", sans-serif;

}
#sejour section#tempsDeChoisir div.dateFleche span.date1{
    float: left;
    width: 150px;
}
#sejour section#tempsDeChoisir div.dateFleche span.date2{
    float: right;
    width: 150px;
}
#sejour section#tempsDeChoisir div.dateFleche div{
    display: inline-block;
    margin: 40px 0px 20px 0px;
}


#sejour section#tempsDeChoisir div.date button span.prix{
    font-family: "montserrat-bold", sans-serif;
    display: block;
}
.fleche {
    background-color: var(--grey-level-3); /* faudra changer la couleur */
    width: 300px;
    height: 2px; /* on peut changer la width et la height */
    position: relative;
  }
  .fleche::before, .fleche::after {
    content: "";
    display: block;
    background-color: var(--grey-level-3);
    width: 10px; /* ça peut changer la taille j'ai mit au pif */
    height: 2px;
    position: absolute;
    right: -3px;
    top: 0;
  }
  .fleche::before {
    transform: rotate(45deg); /* il faut changer pour mettre la ligne vers la gauche */
    top: -3px;
  }
  .fleche::after {
    transform: rotate(-45deg); /* il faut changer pour mettre la ligne vers la droite */
    top: 3px;
  }
#sejour section#tempsDeChoisir div button{
    background-color: var(--main-green);
    height: 80px;
    width: 80px;
    border-radius: var(--radius-size);
    border: none;
    margin: 0px 10px 20px 0px;
    cursor: pointer;
}
#sejour section#tempsDeChoisir div button span{
    color: white;
}

/* BLOC TEMPS DE CHOISIR */

/* PAGE D'UN SEJOUR */  

/* PAGE D'HEBERGEMENT ORDINATEUR */

/* DEFINITIONS DES DIFFERENTES CLASSES */
#hebergement{
    font-family: "montserrat-regular", sans-serif;
}
#hebergement h1{
    text-align: center;
    font-family: "yeseva-one", sans-serif;
    padding: 2em;
}
#hebergement h3{
    font-family: "yeseva-one", sans-serif;
    padding: 1em;
}
#hebergement img{
    border-radius: var(--radius-size);
}
#hebergement .bulle{
    background-color: var(--grey-level-7);
    border-radius: var(--radius-size);
    padding: 1em;
    margin: 1em;
}
#hebergement .bulle1{
    background-color: var(--grey-level-7);
    border-radius: var(--radius-size);
    padding: 0.5em;
    margin-bottom: 5em;
    width: 1em;
}
#hebergement .space{
    padding-top: 2em;
    width: 50em;
}
#hebergement ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#hebergement .list{
    display: flex;
}
/* FIN DE DEFINITIONS DES CLASSES */

/* MODIFICATION DU PREMEIER BLOC, CAROUSSEL ET PRESENTATION AUBERGE */
#hebergement div#group{
    display: flex;
    margin: 1em;
    justify-content:space-around;
    flex-wrap:wrap-reverse;
}
#hebergement div#group>section>article:not(.bulle) p{
    width: 40em;
    margin-left: 1em;
}
#hebergement div#group section {
    width: 54em;
}


/* MODIFICATION DU SECOND BLOC, LOCALISATION ET CARTE SVG */
#hebergement section#loca{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 5em;
}
#hebergement section#loca img{
    width: 15em;
    margin-left: 5em;
    border: 2em;
}
#hebergement section#loca article{
    width: 17em;
    margin-right: 5em;
}

/* MODIFICATION DU DERNIER BLOC, LES ACTIVITES A DECOUVRIR*/
#hebergement section#act{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: -1em;
    margin-bottom: 3em;
}
#hebergement section#act img{
    width: 19em;
    height: 13em;
    object-fit: cover;
}
#hebergement section#act figure{
    margin: 1em;
    box-shadow: 0 1px 5px #95919129;
    padding: 1em 1em;
    border-radius: var(--radius-size);  
    text-align: center;
}




/* MODIFICATION DES COULEURS DE LA CARTE DE FRANCE */
path:hover, path.active {
    filter: invert(9%) sepia(50%) saturate(421%) hue-rotate(182deg) brightness(96%) contrast(93%);
    cursor: pointer;
}
path{
    filter: invert(88%) sepia(20%) saturate(129%) hue-rotate(171deg) brightness(96%) contrast(86%);
    border: unset;
}

/* DEBUT DE LA RESPONSIVE */
/* modification de margine et de taille */
@media screen and (max-width: 1616px)
{
    #hebergement div#group section {
        margin-left: 6em;
    }
    #hebergement div#group section article.bulle{
        width: 45em;
    }
}

/* modification des tailles des blocs */
@media screen and (max-width: 900px)
{
    #hebergement div#group section article.bulle {
        width: 32em;
    }
    #hebergement .space {
        width: 40em;
    }
    #hebergement div#group>section>article:not(.bulle) p {
        width: 30em;
        text-align: justify;
    }
    #hebergement div#group section {
        margin-left: 9em;
    }
}

/* modification des margin et padding */
@media screen and (max-width: 800px)
{
    #hebergement section#act figure {
        margin: 2em;
    }
    .image__selector>img {
        width: 30em;
        height: 18em;
    }
    .image__selector>div>img {
        width: 60px;
    }
    #hebergement h1 {
        padding: 1em;
    }
    #hebergement .space {
        width: 30em;
    }
    #hebergement div#group section {
        margin-left: 5em;
    }
}
/* RESPONSIVE ARRIVEE A UN FORMAT TELEPHONE */
/* modification de la taille des titres */
/* modification de la taille de plusieurs blocs */
@media screen and (max-width: 650px)
{
    .image__selector>img {
        width: 20rem;
        height: 12em;
    }
    #hebergement div#group>section>article:not(.bulle) p {
        width: 25em;
        text-align: justify;
    }
    #hebergement div#group section {
        width: 28em;
        margin-left: 2em;
    }
    #hebergement div#group section article.bulle {
        width: 20em;
    }
    h1 {
        font-size: var(--h2-size);
        padding: 1em;
    }
    h2 {
        font-size: var(--h3-size);
    }
}
/*  modification de  la taille des blocs  */
@media screen and (max-width: 550px)
{
    .image__selector>img {
        width: 20em;
        height: 12em;
    }
    .image__selector>div>img {
        width: 40px;
        height: 2em;
    }
    #hebergement div#group>section>article:not(.bulle) p {
        width: 18em;
        text-align: justify;
    }
    #hebergement div#group section {
        width: 28em;
        margin-left: 1em;
    }
    #hebergement div#group section article.bulle {
        width: 19em;
    }
    #hebergement .space {
        width: 15em;
    }
    #hebergement span.icon {
        margin: 5px;
    }
    h1 {
        font-size: var(--h3-size);
        padding-top: 1em;
        padding: 0em;
    }

}
/* supression de margin */
@media screen and (max-width: 400px)
{
    #hebergement section#act figure {
        margin: 1em 0;
    }
    #hebergement section#loca {
        margin: 1em;
    }
    #hebergement section#loca article {
        width: 15em;
        margin-right: 0em;
    }
}
/* PAGE D'HEBERGEMENT */
